<h2 mat-dialog-title class="self-center">{{ 'addHabit' | translate }}</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="form" (ngSubmit)="submit()" class="grid grid-cols-4 gap-1 gap-y-2">
        <mat-form-field class="col-span-4">
            <mat-label>{{ 'name' | translate }}</mat-label>
            <input matInput type="text" formControlName="name" required/>
            @let nameError = getValidationError(this.form.controls.name, 'name', HABIT_VALIDATION_CONSTS.NAME_MAX_LENGTH);
            @if(nameError){
                <mat-error >{{ nameError }}</mat-error>
            }
                <!-- <mat-error> {{ 'maximumXChars' | translate: {number: 100} }}</mat-error> -->
        </mat-form-field>
        
        <mat-form-field class="col-span-4">
            <mat-label>{{ 'description' | translate }}</mat-label>
            <textarea matInput type="text" formControlName="description"></textarea>
            @let descriptionError = getValidationError(this.form.controls.description, 'description', HABIT_VALIDATION_CONSTS.DESCRIPTION_MAX_LENGTH);
            @if (descriptionError) {
                <mat-error>{{descriptionError}}</mat-error>
            }
        </mat-form-field>

        <!-- CHECK: Should there be validation for "required" here? it seems this always has a vlaue since formcontroller has default? -->
        <div class="frequency-field col-span-4">
            <!-- <label class="frequency-label">{{ 'frequency' | translate }}</label> -->
            <mat-radio-group formControlName="frequencyType" class="frequency-group">
                <mat-radio-button value="daily">
                {{ 'daily' | translate }}
                </mat-radio-button>
                <mat-radio-button value="weekly">
                {{ 'weekly' | translate }}
                </mat-radio-button>
                <mat-radio-button value="monthly">
                {{ 'monthly' | translate }}
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <!-- CHECKIMP: Sometimes switching language doesn't make this form ltr/rtl. Needs to restart page? -->
        <div class="col-span-2 flex-row items-center">
            <div class="flex items-center gap-5">
                <span class="whitespace-nowrap">{{ 'repeatEvery' | translate }}</span>
                <mat-form-field class="w-[30%] mx-1" subscriptSizing="dynamic" >
                    <!-- <mat-label>Frequency amount</mat-label> -->
                    <input matInput type="number" formControlName="frequencyAmount" min="1" max="99"/>
                </mat-form-field>
                <span>{{currentFrequencyLocalizationKey | translate}}</span>
            </div>
            
            <!-- TODO: Fix the layout here. Already kinda did, still looks meh.-->
            @let freqAmountError = getValidationError(this.form.controls.frequencyAmount, "frequencyAmount", [1, HABIT_VALIDATION_CONSTS.FREQUENCY_AMOUNT_MAX]);
            @if (freqAmountError){
                <mat-error class="mt-2">{{freqAmountError}}</mat-error>
            }
        </div>
        
        
        <!-- show time of day if frequency type = daily, else if weekly show days of week, else show day of month (what if pick 30th and then feburary wouldn't work!) -->
        @if (currentFrequencyType === 'daily'){
            <mat-form-field class="col-span-2" subscriptSizing="dynamic">
                <!-- TODO: Convert input into 24 hour format. DB usees TIME datatype. It has no PM/AM. -->
                <mat-label>{{ 'timeOfDay' | translate }}</mat-label>
                <!-- NO RTL Support for this? -->
                <input matInput type="time" formControlName="timeOfDay"/>
                <!-- <mat-hint>some hint</mat-hint> -->
            </mat-form-field>
            }
        @else if (currentFrequencyType === 'weekly') {
            <mat-form-field class="col-span-2" subscriptSizing="dynamic">
                <mat-label>{{"dayOfWeek" | translate}}</mat-label>
                <!-- See about this warning. -->
                <select matNativeControl>
                    <!-- TODO: Make ar start at sunday, while en start at monday? -->
                    @for (day of daysOfWeek; track $index) {
                        <option [value]="$index">
                        {{ day | translate }}
                        </option>
                    }
                </select>
            </mat-form-field>
        }
        @else {
            <mat-form-field class="col-span-2" subscriptSizing="dynamic">
                <mat-label>{{ 'dayOfMonth' | translate }}</mat-label>
                <select matNativeControl formControlName="dayOfMonth">
                    @for (day of daysOfMonth; track day) {
                        <option [value]="day">{{ day }}</option>
                    }
                </select>
            </mat-form-field>
        }
        <mat-dialog-actions align="end" class="col-span-4">
          <button type="button" matButton mat-dialog-close>{{ 'cancel' | translate }}</button>
          <button type="submit" matButton [mat-dialog-close]="true" cdkFocusInitial [disabled]="form.invalid">{{'submit' | translate }}</button>
        </mat-dialog-actions>
    </form>
 
</mat-dialog-content>

