<mat-card appearance="filled" >
    <!-- CHECKIMP: Maybe use something other than card? -->
    <mat-card-content>
        <!-- NOTE: Ang material does not works well with tailwind. u can't apply tailwind classes to ang mat comps. -->
        <div class="flex items-center">
            <div class="me-auto flex">
                <mat-card-title>{{ 'appName' | translate }}</mat-card-title>
                <button matButton routerLink="/dashboard">{{ 'dashboard' | translate }}</button>
                <button matButton routerLink="/habit-logs">{{ 'habitLog' | translate }}</button>
                
            </div>
            <!-- Icon btns -->
            <div class="flex gap-3">
                <!-- Profile drop down. -->
                <button matMiniFab [matMenuTriggerFor]="menu">
                    <mat-icon fontIcon="account_circle"/>
                </button>
                <!-- TODO: Implement navigation. -->
                <mat-menu #menu="matMenu">
                    <button mat-menu-item> {{ 'profile' | translate }}</button>
                    <button mat-menu-item>{{ 'signOut' | translate }}</button>
                </mat-menu>
                <button matMiniFab (click)="toggleLanguage()">
                    <!-- TODO: Find icons for each language. fonts google, which is used by ang mat, doesn't have arabic icon. -->
                     <!-- Using other icons libs wouldn't apply the ang mat theme on them automatically, must specify the color variable. -->
                    <mat-icon fontIcon="language"></mat-icon> 
                </button>
                <button matMiniFab (click)="toggleTheme()">
                    <mat-icon [fontIcon]="themeService.themeIcon()"></mat-icon>
                </button>

            </div>

            
        </div>
    </mat-card-content>
</mat-card> 