<div class="h-screen w-full flex justify-center items-center">
    <mat-card appearance="outlined" class="login-card min-w-[500px]">
        <mat-card-header class="mb-5">
            <mat-card-title>{{ 'login' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="flex flex-col">
                <form class="flex flex-col gap-2" [formGroup]="form" (ngSubmit)="submit()" >

                    <mat-form-field>
                        <mat-label>{{ 'enterEmail' | translate }}</mat-label>
                        <input matInput type="text" formControlName="email"/> 
                        @let emailError = getEmailValidationError(this.form.controls.email, 'email');
                        @if(emailError){
                            <mat-error>{{ emailError }}</mat-error>
                        }
                        <!-- TODO: ADD VALIDATION TEXT -->
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>{{ 'enterPassword' | translate }}</mat-label>
                        <input matInput [type]="hidePass() ? 'password' : 'text'"formControlName="password"/>
                        <!-- TODO: Fix the layout of this hide button. Its not on the same level of the input.[appearance]="" -->
                        <button matIconButton  (click)="toggleHidePass($event)">
                            <mat-icon>{{hidePass() ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                        @let passwordError = getEmailValidationError(this.form.controls.password, 'password');
                        @if(passwordError){
                            <mat-error>{{ passwordError }}</mat-error>
                        }
                </mat-form-field>

                <button mat-raised-button type="submit">{{ 'login' | translate}}</button>
            </form>
            </div>
        </mat-card-content>
    </mat-card>
</div>
