@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette, // TODO: Maybe add a palette for warnnings and errors? new ang mat does that implicitly.
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

html[lang="ar"]{
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Mada,
    density: 0,
  ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}

html[data-theme="dark"] body {
  color-scheme: dark;
}

.active-link .mdc-button__label{
  color: var(--mat-sys-primary);
  border-bottom: 1px solid var(--mat-sys-primary) !important;
  font-weight: 600;
}

.navbar .mat-toolbar-row{
  background-color: var(--mat-sys-surface-container-low);
}

.main-container{
  // margin-top: var(--mat-toolbar-standard-height, 64px);
  // margin-top: 30px;
}