<div class="flex flex-col justify-center items-center">
    <button (click)="openDialog()" matButton="filled">{{ "addHabit" | translate }}</button>
    <!-- <app-create-habit-modal/> -->

    <!-- Incoming habits section -->
     <!-- FIX HEIGHTS -->
      <!-- BIGTODO: STYLIZE BETTER. -->
     <div class="mt-5 w-full min-h-[10vh] max-h-[80vh] overflow-auto">
        @if (habits()){
            @for (habit of habits(); track habit.id){
                <mat-card class="mt-2 me-2">
                    <mat-card-content class="!grid grid-cols-12 gap-4 items-center">
                        <!-- <div class="h-full flex items-center p-5">
                            <h2 class="font-bold">{{habit.name}}</h2>
                        </div> -->
                        <div class="col-span-4">
                            <mat-card-title>{{habit.name}}</mat-card-title>
                        </div>
                        
                        <div class="sm:col-span-6 md:col-span-7">
                            @if (habit.description){
                                <!-- <p>{{habit.description}}</p> -->
                                <mat-card-subtitle>{{habit.description}}</mat-card-subtitle>
                            }
                        </div>
                        
                        <!-- Show complete btn if habit is at specified time, else count down? -->
                        <div class="sm:col-span-2 lg:col-span-1 flex justify-end items-center gap-2">
                        @let isDue = habit.dueIn.diffHours <= 0;
                        <!-- @if (habit.dueIn.diffHours <= 0){ -->
                         <!-- TODO: Make btn same size no matter what content. And handle possible large text. -->
                          <!-- TODOIMP: Make due time update like a countdown -->
                                <button matButton="filled" (click)="completeHabit(habit.id)" [disabled]="!isDue" 
                                class="w-full !truncate"
                                >{{getCompleteBtnText(habit)}}</button>
                                <button matIconButton color="" (click)="deleteHabit(habit.id)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            <!-- } -->
                        </div>
                    </mat-card-content>
                </mat-card>
            }
    } @else {
        <p>You have not added any habts...</p>
    }
     </div>
</div>